* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #f6f6f9;
    --white-color: #fff;
    --blue-color: #1f51ff;
    --indigo-blue: #3f00ff;
    --primary-color: #faf9f6;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.6);


    --bd-radius: 1rem;

    --box-shadow: 0 .3rem .5rem var(--box-shadow-color );
    --box-shadow-2: .5rem .5rem 1rem #a6b4c8,
                    -.5rem -.5rem 1rem #fff;
}

body {
    font-size: .88em;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.5;
    background-color: var(--bg-color);
}

a {
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 0.87em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.77;
}

.btn {
    display: inline-block;
    color: var(--blue-color);
    border: 1px solid var(--white-color);
    border-radius: .4rem;
    padding: .5rem 1rem;
    font-size: 1em;
    background: var(--white-color);
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 600;
    transition: all 300ms ease;
}

.btn:hover {
    border: 1px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
}

.container {
    width: 96%;
    margin: 0 auto;
    padding: 0 3rem;
}

.navbar {
    background: var(--blue-color);
    color: var(--text-color);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding: 0 2rem;
    margin: 1.5rem auto;
    border-radius: var(--bd-radius);
    box-shadow: var(--box-shadow);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 2rem;
    position: relative;
}

.navbar a {
    color: var(--white-color);
    font-weight: 600;
    font-size: .9em;
}

.navbar i {
    display: none;
}

.logo {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    background: var(--bg-color);
    border-radius: var(--bd-radius);
    box-shadow: var(--box-shadow);
}

.header-col {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: var(--blue-color);
    margin: 1rem auto;
}

.header h1{
    font-size: 3em;
    line-height: 1.2;
    color: var(--blue-color);
    margin-bottom: 2rem;
}

.header .btn {
    background: var(--blue-color);
    color: var(--white-color);
}

.header .btn:hover {
    background: transparent;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}

.header img {
    max-width: 500px;
    border-radius: var(--bd-radius);
}

/*---------- Header Section Media query ----------*/
@media(max-width: 768px) {

    .navbar {
        position: fixed;
        background: var(--blue-color);
        height: 100vh;
        width: 15rem;
        top: 0;
        right: -20rem;
        text-align: left;
        z-index: 1000;
        transition: all 300ms ease-in-out;
    }

    .navbar ul li {
        display: block;
    }

    .navbar ul {
        padding: 2.5rem;
    }

    .navbar i {
        display: block;
        color: var(--blue-color);
        margin: 1rem;
        font-size: 1.5em;
        cursor: pointer;
    }

    .logo {
        font-size: 1em;
        display: none;
    }

    .header-col {
        flex-direction: column-reverse;
    }

    .header-col h1 {
        font-size: 1.5em;
    }
}

/*---------- Course Section ----------*/
.course {
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}

.course h2 {
    font-size: 3em;
    font-weight: 600;
    color: var(--text-color);
}

.course p {
    padding: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.course-col {
    flex-basis: 31%;
    background: var(--white-color);
    border-radius: var(--bd-radius);
    margin-bottom: 5%;
    padding: 2rem 1.2rem;
    box-shadow: var(--box-shadow-2);
    transition: all 300ms ease;
}

.course-col:hover {
    transform: translateY(-10%);
}

.course-col h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--blue-color);
}

.course-col i {
    margin-right: 1rem;
    color: var(--blue-color);
}

/*---------- Course Section Media Query----------*/

@media(max-width: 768px) {
    .row {
        display: block;
    }

    .course-col:hover {
        transform: translateY(0);
        box-shadow: none;
    }
}
/*---------- About Us Section ----------*/

.about {
    width: 90%;
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
    border-radius: var(--bd-radius);
    box-shadow: var(--box-shadow);
}

.about-col {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: var(--white-color);
    margin: 1rem auto;
}

.about-col div {
    margin-left: 2rem;
}

.about-col h2 {
    font-size: 3em;
    line-height: 1.2;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.about-col img {
    width: 400px;
    border-radius: var(--bd-radius);
}

/*---------- About Us Media Query----------*/

@media(max-width: 768px) {
    .about-col {
        flex-direction: column;
    }

    .about-col img {
        width: 200px;
    }

    .about-col h2 {
        font-size: 1.5em;
        margin-top: 1rem;
    }
}
/*---------- Contact Us Section ----------*/

.contact {
    width: 90%;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
    border-radius: var(--bd-radius);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin-top: 5rem;
}

.contact-form {
    background: var(--blue-color);
    box-shadow: var(--box-shadow);
    width: 45%;
    padding: 2rem;
    border-radius: var(--bd-radius);
    color: var(--white-color);
}

.contact-form h4 {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--white-color);
    padding-bottom: 1rem;
}

.contact-form input, textarea {
    width: 100%;
    height: 3rem;
    outline: 0;
    border: 0;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .3rem;
}

.contact-img {
    width: 400px;
    border-radius: var(--bd-radius);
}


/*---------- Contact Us Section Media Query----------*/

@media(max-width: 768px) {
    .contact {
        display: block;
    }

    .contact-img {
        display: none;
    }

    .contact-form {
        width: fit-content;
    }
}

/*---------- Footer ----------*/
footer {
    position: relative;
    width: 100%;
    background: var(--blue-color);
    min-height: 10rem;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-links, 
footer .nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    flex-wrap: wrap;
}

footer .social-links li a {
    font-size: 2em;
    color: var(--white-color);
    display: inline-block;
    transition: all 300ms ease;
    margin: 0 1rem;
}

footer .social-links li a:hover {
    transform: translateY(-15%);
}

footer .nav li a {
    font-size: 1em;
    color: var(--white-color);
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    opacity: 0.5;
}

footer .nav li a:hover {
    opacity: 1;
}

footer p {
    color: var(--white-color);
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}


/*---------- Footer Section Media Query----------*/

@media(max-width: 768px) {
    footer {
        min-height: 10rem;
    }
    
    footer .social-links li a {
        font-size: .7em;
        color: var(--white-color);
        display: inline-block;
        transition: all 300ms ease;
        margin: 0 .6rem;
    }
    
    footer .social-links li a:hover {
        transform: translateY(0);
    }
    
    footer .nav li a {
        font-size: .7em;
        color: var(--white-color);
        display: inline-block;
        margin: 0 .5rem;
        text-decoration: none;
        opacity: 0.5;
    }
    
    footer p {
        margin: auto;
        font-size: .7em;
    }
        
}